@charset "UTF-8";
/* CSS Document */

/*
DEMO 4
*/

.a_demo_four {
	  top: -4px;
	background-color:#940000;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding: 6px 6px;
    padding-right: 40px;
	background-image: linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -o-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -moz-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -webkit-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -ms-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #D26464, 0px 5px 0px 0px #5A0406, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #D26464, 0px 5px 0px 0px #5A0406, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #D26464, 0px 5px 0px 0px #5A0406, 0px 10px 5px #999;
	  box-shadow: inset 0px 1px 0px #D26464, 0px 5px 0px 0px #5A0406, 0px 10px 5px #999;
}
.a_demo_four:hover{text-decoration:none;color:#fff}
.a_demo_four:focus{text-decoration:none;color:#fff}
.a_demo_four_active {
	background-color: #848484;
	background-image: linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
	background-image: -o-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
	background-image: -moz-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
	background-image: -webkit-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
	background-image: -ms-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) );
  
  	-webkit-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999;
  	box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999;	
}
.a_demo_four_active::before{
	background-color:#6F6F6F !important;
	-webkit-box-shadow: inset 0px 1px 0px #5F5F5F, 0px 1px 0px #2F2F2F !important;
	-moz-box-shadow: inset 0px 1px 0px #5F5F5F, 0px 1px 0px #2F2F2F !important;
	-o-box-shadow: inset 0px 1px 0px #5F5F5F, 0px 1px 0px #2F2F2F !important;
	box-shadow: inset 0px 1px 0px #5F5F5F, 0px 1px 0px #2F2F2F !important;
	}
.a_demo_four_active:active::before{margin-top:-9px !important;}	
.a_demo_four_active:active {background-image: linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) )!important;
	background-image: -o-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) )!important;
	background-image: -moz-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) )!important;
	background-image: -webkit-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) )!important;
	background-image: -ms-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) )!important;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(81, 80, 80)), color-stop(1, rgb(210, 210, 210)) ) !important;
  top:-4px !important;
  	-webkit-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999!important;
	-moz-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999!important;
	-o-box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999!important;
  	box-shadow: inset 0px 1px 0px #F0F0F0, 0px 2px 0px 0px #353232, 0px 5px 5px #999!important;}
	
.a_demo_four:active {
	top:-3px;
	background-image: linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -o-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -moz-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -webkit-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	background-image: -ms-linear-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(160, 1, 4)), color-stop(1, rgb(219, 107, 109)) );
	  
	-webkit-box-shadow: inset 0px 1px 0px #D26464, 0px 2px 0px 0px #5A0406, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #D26464, 0px 2px 0px 0px #5A0406, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #D26464, 0px 2px 0px 0px #5A0406, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #D26464, 0px 2px 0px 0px #5A0406, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#940000;
	background-image:url(../../img/right_cancel.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #7E080A, 0px 1px 0px #570000;
	-moz-box-shadow: inset 0px 1px 0px #7E080A, 0px 1px 0px #570000;
	-o-box-shadow: inset 0px 1px 0px #7E080A, 0px 1px 0px #570000;
	  box-shadow: inset 0px 1px 0px #7E080A, 0px 1px 0px #570000;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #e84141, 0px 3px 0px #530909, 0px 6px 3px #750505;
	-moz-box-shadow: inset 0px 1px 0px #e84141, 0px 3px 0px #530909, 0px 6px 3px #750505;
	-o-box-shadow: inset 0px 1px 0px #e84141, 0px 3px 0px #530909, 0px 6px 3px #750505;
	box-shadow: inset 0px 1px 0px #e84141, 0px 3px 0px #530909, 0px 6px 3px #750505;
}