.report_graph_container{
	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	}
.small-box{
	width:235px;
	height:150px;
	float:left;
	border:solid 1px #ccc;
	}
.box-title{
	margin:0;
	padding:4% 0;
	font-size:18px;
	}
.inner{width:100%;
	height:110px;
	float:left;
	overflow:auto;
	padding: 7px !important;
	}	
.inner h3{margin:5px;}	
.inner p{margin:5px;text-align:left;font-size:17px;padding:1% 0;}		

.bg-green{background-color:#26DA80;}
.bg-aqua{    background-color: #56CEFF;}
.bg-yellow{   background-color: #FFA433;}

.widget{margin-top:0;}
.widget-content p{font-size:15px;}
.toggle-menu{display:none;}
.widget-title{width:100%;text-align:center;}
.pie_chart_container{
	width:98%;
    height: 54vh;
	min-height: 54vh;
   /* min-height: 340px;*/
	float:left;
	background-color:#fff;
	}
.graph_container{
	width:96%;
    height: 40vh;
	min-height: 40vh;
    /*min-height: 260px;*/
	float:left;
	background-color:#fff;
	margin-top:10px;
	margin-left:2%;
	}	
.left_graphp_detail{
	width:100%;
	height:auto;
	float:left;
	margin-top:15px;
	}
.widget{padding: 15px 30px;}	
.balance-widget{padding:0 !important}	
.task-graph > ul{padding:0 !important;}
.balance-widget{padding:0 !important;height: 128px;overflow-x: auto;}	
.balance-widget .progress {margin-top: 10px;	}
.balance-widget > h2 > i{margin-bottom:0px;}
.balance-widget > h3{padding-bottom: 5px; border-bottom: 1px #E8ECEC solid;}
.sm_graph_detail .widget{padding: 13px 0px;}
.icon-btn {background: none repeat scroll 0 0 #F5351B;color: #FFFFFF;}

.report_send_btn_cc{
	width:100%;
	height:auto;
	float:left;
	margin-top:15px;
	}
.task-graph-chart{padding-left:0;}	
.task-graph-chart .sparkpie{left:inherit;right:-10px;}
.task-graph-chart > h3, .task-graph-chart > i{width:64%;text-align: left;margin-bottom: 6px;text-transform:inherit; 
font-family: 'CALIBRIB_0';}
.task-graph-chart > i strong{font-size:14px;color:#000}
.task-graph-chart > h5{
	 float: left;
    width: 65%;
    text-align: left;
    margin: 0;
    margin-bottom: 7px;
	}
.pie_chart_container .widget-content{margin-top:5px;}	

.pie_chart_container .task-graph > ul > li{
	/*width:25%;*/
	color: #000000;
	font-size: 15px;
	}
.staff_report_cc{
	width:100%;
	height:105px;
	float:left;
	overflow:auto;
	}
.balance-widget .staff_report_cc > h2 {
    color: #555555;
    float: left;
   font-family: 'CALIBRI_0';
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin: 0;
    width: 100%;
}	

.balance-widget .staff_report_cc > h2 > i {
    color: #777777;
    float: left;
    font-family: 'CALIBRI_0';
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top:5px;
    width: 100%;
}
.sm_graph_detail .balance-widget > h3{
	margin: 0 0 0px;
}	

.quick-stats > h4{
	    font-size: 15px;
		font-weight:100;
		margin: 0px 0 4px 0;
	}
	
.anylst_report_container{
	width:96%;
	height:105px;
	float:left;
	background-color:#fff;
	margin-bottom:10px;
	margin-left:2%;
	    padding: 1%;
	}
.pie_chart_container .pie_detail_cl {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 9;
}	

.pie_chart_container .pie_detail_cl li {
    background: none repeat scroll 0 0 #ffffff;
    font-family: 'CALIBRI_0';
    font-size: 11px;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;
}

.pie_chart_container .pie_detail_cl li:before {
    content: "";
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
	background-color:#ccc;
}	
.pie_chart_container .pie_detail_cl .all:before {
	    background: #8878ff; /*#8878ff;*/
}
.pie_chart_container .pie_detail_cl .ta:before {
	    background: #363b46; /*#8878ff;*/
}
.pie_chart_container .pie_detail_cl .ho:before{
    background-color:#bbbbbb ;/* #363B46;*/
}
.pie_chart_container .pie_detail_cl .cs:before{
    background-color:#900 ;/* #363B46;*/
}


.anylst_report_main{
	width:25%;
	height:43px;
	float:left;
	border-bottom:1px #ccc solid;
	border-right:1px #ccc solid;
	}
.anylst_report_main_head{
	font-size: 12px;
    font-weight: 100;
	color: #000;
    float: left;
    font-family: 'CALIBRI_0';
    letter-spacing: 0.3px;
    width: 100%;
	}
.anylst_report_main_detail{
	font-size: 19px;
    font-weight: 100;
	color: #444;
    float: left;
    font-family: 'CALIBRI_0';
    letter-spacing: 0.3px;
    width: 100%;
	}
.anyls_report_center_cc{
	width:100%;
	float:left;
	}
.anyls_report_graph_cc{
	width:38%;
	height:auto;
	float:right;
	margin-right:1%;
	display:none;
	}	
.pie_select_bydate{
	min-width:200px;
	height:30px;
	position:absolute;
	right:5px;
	top:3px;
	}
.date_sel_grp{
	width:100%;
	height:30px;
	float:left;
	border:solid 1px #ccc;
	border-radius:5px;
		font-size:15px;
	}
	
.graph_bottom_detail{
	width:14%;
	height:auto;
	float:left;
	padding:0 1%;
	}	
.widget-title strong{font-family: 'CALIBRI_0';font-size:18px;}
.select_by_text{
	width:120px;
	float:left;
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:14px;
	font-family: 'CALIBRI_0';
	color:#000;
	
	}
.date_sel_grp_contain{
	width:130px;
	height:auto;
	float:right;
	}							