
.mange_filter_cc{
	  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
  display: inline-block;
	}
.popup_filter_cc{
	width:30%;
	height:auto;
	float:left;
	margin:1.5%;
	}	
.popop_txt_bx {	
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}	
.popop_txt_bx option{
	padding:8px;
	}
.filte_new_text {
  height: 20px;
  width: 100%;
  float: left;
  font-size: 13px;
  color: #000;
  line-height: 15px;
  padding-left: 0px;
    text-align: left !important;
 font-family: 'CALIBRI_0' !important;
}

.pop_filter_btn{
	width:80%;
	height:36px;
	margin:auto;
  text-align: center;
  line-height: 36px;
  display:inline-block;
  background-color: #007197;
  border-radius: 5px;
      color: #fff !important;
    font-size: 16px;
}
.pop_filter_btn:hover{color:#ccc;}
.pop_filter_btn:focus{color:#ccc;}
.filter_cont_list_cc{
	width:100%;
	height:40vh;
	min-height:370px;
	float:left;
	padding:1%;
	/*overflow:auto;*/
	}
.filter_cont_tbl{
	width:100%;
	height:auto;
	float:left;
	
	}
@-moz-document url-prefix() {
   .filter_cont_tbl thead {padding-right:17px !important;}
}	
.filter_cont_tbl thead{
  width: 100%;
  display: block;
  padding-right:9px;
  background-color:#333;
	}	

	
.filter_cont_tbl tr{
	  width: 100%;
  display: inline-table;
	}
.filter_cont_tbl tr td{max-width:0;}
		
.filter_cont_tbl thead td{
	font-family: 'CALIBRI_0';
	font-size:13px;
	background-color:#333;
	color:#fff;
	height:40px;
	vertical-align:middle;
	text-align:center;
	border:solid 1px #ccc;
	border-top:0;
	word-wrap: break-word;
}
.filter_cont_tbl tbody{
  display: inline-block;
  min-height:350px;
  overflow-y: scroll;
  width: 100%;
  height:30vh;
	}

.filter_cont_tbl tbody td{
	font-family: 'CALIBRI_0';
	font-size:13px;
	color:#000;
	height:45px;
	vertical-align:middle;
	text-align:center;
	border:solid 1px #ccc;
	border-top:0;
}
.mang_pop_head{
	width:100%;
	height:40px;
	display:inline-block;
	line-height:35px;
	text-align:center;
	font-size:25px;
	color:#fff;
	background-color:#007197;
	position: relative;
	}
.popup_status_cc{
	width:60px;
	height:40px;
	float:left;
	margin-left:1%;
	}	
.popup_status_cc img{width:65%;}

.updatestock{top:0;}		