/*body{background-image:url(../images/patern.jpg)};*/
[class^="ti-"], [class*=" ti-"]{line-height:inherit}
.logo a{position:relative}
.logo_round_bg{
  width: 50px;
  height: 50px;
  position: absolute;
	border-radius:50%;
  left: 12px;
  top: -2px;
	/*background-color:rgba(255,255,255,0.2);*/
	}
.logo_round_bg img{
	width:100%;
	}	
.logo_text{
	  float: left;
  width: 190px;
  text-align: right;
  font-size:32px;

	}
		
.logo > a:hover{color:#fff;}	
.logo > a:focus{color:#fff;}
	
.logo > a {
  float: left;
  padding: 0px 0;
  text-align: center;
  width: 74%;
    font-size: 2em;
  line-height: 50px;
  color: #fff;
 font-family: 'CALIBRI_0'; 
  }
 .logo > a:focus{text-decoration:none}  
.als-container{  border-bottom: 3px solid #F5351B  !important;} 
 .ct-flat .ct-viewport {
            padding-bottom: 30px;
            background: #f5f5f5 url(../libs/imgs/pattern_wavegrid.png) repeat;
        }
[class^="icon-"], [class*=" icon-"] {
  /* display: inline-block; */
  width: inherit;
  height: inherit;
  }	
 .cat_table_report_cc {
	 width:100%;
	 height:auto;
	 float:left;
	 padding:1%;
	 }
 .table_report{
	 width:100%;
	 height:auto;
	 float:left;
	 background-color:#fff;
	 } 	
.table_report td{border:solid 1px #EAEAEA;color:#333;text-align:center;font-size:14px;height:35px;  vertical-align: middle;min-width: 150px;line-height:35px;  
font-family: 'CALIBRI_0'; }


.horizon-prev, .horizon-next {
position: fixed;
/*top: 41%;*/
  top: 142px;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left:250px;
}
.horizon-next {
right: 40px;
}
.cd-slider-nav{float:left;width:100%;white-space:nowrap;height:40px;overflow:auto;}
.cd-slider-nav nav section{width:500px !important;}
.cd-slider-nav ul{
	  width: 89%;
  margin-left: 5%;
  overflow:hidden;
	}
.selected div{
	  -moz-box-shadow: 0px 5px 8px #ccc;
  -webkit-box-shadow: 0px 5px 8px #ccc;
   box-shadow: 0px 5px 8px #ccc;
	}
.table_report{
	width:100%;
	height:auto;
	float:left;
	}		
.table_report thead td{
	background-color:#191919 !important;
	color:#fff !important;
	 border-top: 0;
	 border-bottom: 0;
	  /* min-width: 140px;*/
	    font-weight: bold;
	}
.cd-hero-slider .selected .cd-half-width{border:solid 1px #ccc;}	


/*****/


.cc_new {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
	  margin: 3px 0 7px 0;
}

.als-container{
  background-color: #F9F9F9;
  border: 1px #D7D7D7 solid;
	}
.als-item a {
  display:block;
   border: solid 1px #E0E0E0;
  border-bottom: 0;
  }
  
 /* Button 3e */
.btn-3 {
  background: #057776;
  color: #fff;
  margin-bottom:10px;
  text-shadow:inherit;
} 
.btn-3e {
	  padding: 15px 46px 12px 49px;
	overflow: hidden;
}
.btn-3:hover {
  background: #005251;
  color:#ccc;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3e:after {
	width: 30%;
	height: 200%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-3e:hover:after {
	width: 40%;
}
.contant_table_cc{
	width:100%;
	/*white-space:nowrap;*/
	overflow:auto;
	 height:68vh;
  min-height:350px;
	background-color:#fff;
	float:left;
	padding-left:0px !important;
	padding-right:0px !important;
	border: solid 1px #B3B3B3;
    border-top: solid 0px #ccc;
	}
.add_btn_cc{
	position: relative;
  z-index: 99;
  float:left;
  height:0px;
	}
.btn_cc{
	width:50px;
	float:left;
	height:53px;
	position:absolute;
	left:0px;
	margin-top:0px;
	border-bottom-right-radius: 200px;
	overflow:hidden;
	}
.add_btn_1{
	width:100%;
	height:53px;
	float:left;
	background-image:url(../img/add_btn.png);
	  border-bottom-right-radius: 150px;
	}
	
.new_tab_btn{
	width: 100%;
	   height: 36px;
  margin-top: 3px;
	float:left;
	color:#fff;
	padding:0 3px 0 3px;
	line-height:37px;
	font-size:15px;
	text-align:center;
	font-family: 'CALIBRI_0'; 
	font-weight:lighter;
	  background-color: #191919;
 /* border-bottom: 3px solid #17aa56 !important;*/
    box-shadow: 4px 3px 2px #7C7C7C;
	-moz-box-shadow: 4px 3px 2px #7C7C7C;
	 -o-box-shadow: 4px 3px 2px #7C7C7C;
    border-top-right-radius: 2px;
	  border-top-left-radius: 2px;
	}
.new_tab_btn:hover{color:#ccc}
.new_tab_btn:focus{color:#ccc}					
.active_btn_1{   background-color: #454545;
  height: 34px;
  margin-top: 5px;
  font-weight: bold;
  border-bottom: 3px solid #941C27 !important;
  -moz-border-radius-topleft: 10px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:0px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
  }

/*.scroll {
    width: 100%;
    border-spacing: 0;

}

.scroll tbody,
.scroll thead { display: block; }
.scroll thead tr { width:98.3%;}
.scroll thead{background-color:#191919}
.scroll thead tr th { 
    height: 30px;
    line-height: 30px;
}
.scroll tr{  display: inline-table;width:100%;}
.scroll tbody {
    height: 425px;
   
    overflow: scroll;
}

.scroll tbody { border-top: 0px solid black; }

.scroll tbody td, thead th {
    width: 20%;
    border-right: 0px solid black;
}

.scroll tbody td:last-child, thead th:last-child {
    border-right: none;
}
*/
.main_menu_active{
	background: -moz-linear-gradient(top,  #A41E2B  0%, #672A00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A41E2B ), color-stop(100%,#4D1517));
	background: -webkit-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: -o-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: -ms-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: linear-gradient(to bottom, #A41E2B 0%,#4D1517 100%);
	}
/*.main_menu_active:before{
content: "";
  position: absolute;
  top:-4;
  right: 0;
  border-width: 0 30px 30px 0;
  border-style: solid;
  border-color: #5ECB8C rgba(14, 14, 14, 1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/	
.main_menu_active a span{color:#fff;}	
.main_menu_active a i{color:#fff;}	

.filter_conatiner{
	width:100%;
	height:auto;
	padding-bottom:5px;
	margin-bottom:10px;
	float:left;
	background-color:#fff;
	border:solid 1px #B3B3B3;
	}
.filter_conatiner_menu_cc{
	width:100%;
	height:30px;
	float:left;
	border-bottom:1px solid #B3B3B3;
	background-color:#fff;
	transition:all 0.2s ease;
	/*box-shadow: 1px 4px 12px #ccc;
	-moz-box-shadow: 1px 4px 12px #ccc;
	-webkit-box-shadow: 1px 4px 12px #ccc;
	-o-box-shadow: 1px 4px 12px #ccc;
	-ms-box-shadow: 1px 4px 12px #ccc;*/
	}
.filter_conatiner_menu{	
	width:15%;
	height:100%;
	float:left;
	border-right:1px solid #ccc;
	line-height:30px;
	text-align:center;
	color:#191919;
	cursor:pointer;
	font-size:15px;
	 font-family: 'CALIBRI_0'; 
	transition:all 0.2s ease;
	}
.filter_conatiner_menu a{width: 130%;float: left;margin-left: -15%;}	
.filter_conatiner_menu:hover{border-bottom:3px solid #672A00  !important;background-color:#fff !important; position: relative !important;z-index: 1 !important;}
.filter_conatiner_menu a:hover {color:#000 !important;}
.tab_mn_act{border-bottom:3px solid #672A00   !important;background-color:#fff !important;  position: relative !important;z-index: 1 !important;}
.tab_mn_act a{color:#000 !important;}

.filter_text_bx_cont{
	width:17%;
	height:auto;
	float:left;
	}
.filter_text_bx_cont_txt{
	width:100%;
	height:20px;
	float:left;
	font-size:13px;
	color:#242424;
	padding-left:20px;
	font-family: 'CALIBRI_0'; 
	padding-top:1px;
	}
.filter_text_bx_cont_txtbox{
	width:100%;
	height:20px;
	float:left;
	color:#242424;
	padding-left:20px;
	}
.filter_textbox{
	width:100%;
	height:28px;
	float:left;
	border:1px solid #ccc;
	color:#191919;
	padding-left:8px;
	border-radius:5px;
	}	
.filter_txt_cc{
	margin:3px 0 0 0;
	  height: 52px;
	  float:left;
	  width:100%;
	}	
.button_ftech{
	width:100%;
	height:28px;
	float:left;
	border-radius:5px;
	background-color:#333;
	color:#fff;
	line-height:28px;
	text-align:center;
	font-size:15px;
	transition:all 0.2s ease;
	}		
.button_ftech:hover{color:#ccc;}
.button_ftech:focus{color:#00b54e;}

.pagination_cc{
	width:100%;
	height:40px;
	float:left;
	background-color:#fff;
	border:solid 1px #B3B3B3;
	margin-top:1px;
	}
.pagination_cc .pagination {
  margin: 1px;
  float: right;}
  
 .users_details_cc{
	 width:100%;
	 height:auto;
	 float:left;
	 background-color:#fff;
	 border:solid 1px #B3B3B3;
	 margin-top:3px;
	 padding-top:5px;
	 }
.users_details_table_cc{
	 width:100%;
	 float:left;
	 background-color:#fff;
	 border:solid 1px #B3B3B3;
	 margin-top:3px;
	 padding-top:5px;
	 height:130px;
	 overflow:auto;
	}	
.print_btn{
	width:10%;
	height:36px;
	float:left;
	line-height:38px;
	text-align:center;
	background-color:#15A352;
	background: -moz-linear-gradient(top,  #A41E2B  0%, #672A00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A41E2B ), color-stop(100%,#4D1517));
	background: -webkit-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: -o-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: -ms-linear-gradient(top,  #A41E2B  0%,#4D1517 100%);
	background: linear-gradient(to bottom, #A41E2B 0%,#4D1517 100%);
	border-radius:5px;
	margin:0.2%;
	color:#fff;
	font-size:15px;
	font-family: 'CALIBRI_0'; 
	transition:all 0.2s ease;
	}
.print_btn:hover{background-color:#242424;}	

.bolocked_customers{
	  width: auto;
  padding: 0 5px;
	height:30px;
	float:right;
	  margin-top: 5px;
	}	
.bocked_color{
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	background-color:#f00;
	border-radius:20px;
	margin-top:3px;
	}
.bolocked_custom_txt{
	width:auto;
	float:left;
	line-height:27px;
	color:#000;
	font-size:14px;
	text-align:center;
	}
.potion_bg_cc{
	padding-left:0px !important;padding-right:5px !important;
	}
.potion_bg{
	width:100%;
	min-height: 540px;
	height:78vh;
	float:left;
	padding-left:5px !important;padding-right:5px !important;
	background-color:#fff;
	border:solid 1px #B3B3B3;
	}	
	
.filter_conatiner_menu_cc_1{
	width:99%;
	height:40px;
	float:left;
	border:1px solid #B3B3B3;
	background-color:#fff;
	  margin-bottom: 4px;
	    width: 99.6%;
		transition:all 0.2s ease;
	}
.filter_conatiner_menu_cc_1 .filter_conatiner_menu { 
 width: auto;
  padding: 0 10px;
  line-height: 36px;
  background-color: rgb(44, 15, 0);
  border: 1px solid #FFF;
  box-shadow: 0 0 7px;
    position: relative;
  z-index: 2;
  }	
.filter_conatiner_menu_cc_1 .filter_conatiner_menu a{color:#fff;text-decoration:none}

.settings_list_table_head{
	width:100%;
	height:35px;
	float:left;
	margin-top:5px;
	overflow:hidden;
	}
.settings_list_table_head table{
	width:100%;
	float:left;
	}
.settings_list_table_head table td{
	height:35px;
	text-align:center;
	color:#fff;
	line-height:35px;
	font-family: 'CALIBRI_0'; 
	font-size:14px;
	background-color:#333;
	}		
.settings_list_table{
	width:100%;
	float:left;
	min-height:455px;
	height:66.5vh;
	overflow:auto;
	}
.settings_list_table table td{
	height:30px;
	text-align:center;
	color:#333;
	 font-family: 'CALIBRI_0'; 
	border:solid 1px #ccc;
	font-size:14px;
	vertical-align:middle;
	}	
.setttings_right_textboxes_cc{
	width:100%;
	  height: 108px;
  margin-bottom: -5px;
	float:left;
	padding-top: 3px;
	margin-top:5px;
	border:1px #ccc solid;
	}
.filter_text_bx_cont_1 {
  width:33%;
  float: left;
    height: 51px;
}
.setting_right_buttons{
	width:49%;
	height:30px;
	float:left;
	  line-height: 30px;
  text-align: center;
 background-color:#a41e2b;
	border: solid 1px #C06D6D;
  color: #fff;
  font-size: 15px;
  font-family: 'CALIBRI_0'; 
  border-radius:5px;
  transition: all 0.2s ease;
	}
.setting_right_buttons:hover{background-color:#333;color:#fff;}
.right_cont_cc{
	width:100%;
	height:auto;
	float:left;
	background-color:#fff;
	padding-bottom:10px;
	padding-left: 5px !important;
  	padding-right: 5px !important;
	border:solid 1px #B3B3B3;
	}
.module_acces_head{
	width:100%;
	height:35px;
	float:left;
	padding-left:12px;
	margin-top: 5px;
  text-align: left;
	color:#fff;
	line-height:35px;
	background-color:#333;
	margin-bottom:4px;
	}	
.module_acc_table_cc{
	  width: 99.8%;
	  height:31.4vh;
  min-height:210px;
	float:left;
	overflow:auto;
	}
.module_acc_table_cc td{
	height:35px;
	text-align:center;
	color:#000;
	font-size:14px;
	vertical-align:middle;
	  border: solid 1px #ccc;
		}
.module_acc_table_cc th{
	height:35px;
	text-align:center;
	color:#fff;
	background-color:#333;
	font-size:14px;
	vertical-align:middle;
	font-family: 'CALIBRI_0'; 
  font-weight: lighter;
	}		
.module_acc_table_cc td span{
	margin-left:5px;
	position: relative;
    top: 3px;
	}	
.from_date_cc{
	width:68%;
	height:40px;
	float:right;
	}
.from_date_cc_textbox_cc{
	width:39%;
	height: 29px;
  float: left;
  margin-right:1%;
  margin-top: 3px;
	}
.from_date_cc_textbox_cc .filter_textbox{line-height:26px;font-size:13px;} 	
.module_ftech_btn{
	  width: 19%;
  height: 31px;
	float:right;
	background-color:#a41e2b;
	border: solid 1px #C06D6D;
	color:#fff;
	text-align:center;
	line-height:31px;
	font-family: 'CALIBRI_0'; 
	margin:2px 0.4% 0 0;
	border-radius:5px;
	  transition: all 0.2s ease;
	}
.module_ftech_btn:hover{background-color:#8d000e;color:#fff;}	

/***/

.filter_date{
	width:30%;
	height:40px;
	float:left;
	  margin-top: 2px;
	}
.filter_date span{
	padding:0 10px 0 15px;
	line-height:40px;
	color:#333;
	font-size:15px;
	}	
.filter_date_txtbx{
	width:60%;
	height:35px;
	padding-left:10px;
	border-radius:3px;
	color:#000;
	line-height:35px;
	  margin-top: -5px;
	border:solid 1px #ccc;
	}
	
.ftech_btn{
	width:10%;
	height:40px;
	float:right;
	  background-color: #730812;
	color:#fff;
	line-height:40px;
	font-size:15px;
	text-align:center;
	margin-left:8px;
	border-radius: 5px;
	margin: 2px;
	transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	  box-shadow: 0 0 5px #000;
	}
.ftech_btn:hover{  box-shadow: 0 0 0px #6F6F6F;  	background-color:#000;}	
										
.ftech_btn a{
	color:#fff;
	line-height:40px;
	font-size:15px;
	text-align:center;
	display:block;
	}
.ftech_btn a:hover{	
color:#ccc;
}
.first_section{
	width:100%;
	  height: 170px;
  margin-bottom: 10px;
	float:left;
	overflow:auto;
	  border-bottom: 1px #ccc solid;
	}
.top_food_name{
	width:100%;
	height:40px;
	float:left;
	line-height:40px;
	color:#000;
	font-weight: bold;
	font-size:16px;
	padding-left:10px;
	border-bottom:1px #ccc solid;
	}	
.z-tabs.vertical {padding-bottom: 0px !important;  padding-top: 8px !important;}	
.z-content-inner table th{background-color:#333;color:#fff;height:35px;line-height:35px;padding-left:5px;}
.z-content-inner table td{
	height:35px;
	padding-left:5px;
	line-height:35px;
	border:solid 1px #ccc;
	}
.z-tabs.flat.vertical > .z-container > .z-content > .z-content-inner {
	padding:0% !important;
/*padding-left: 5px !important;
padding-right: 5px !important;*/
 /* border: solid 1px #ccc !important;*/
  background-color: #F0F0F0 !important;}	
  
 .module_acces_head .pagination{
	   margin: 0;
	     float: right;
	 } 
.pagination > li > a, .pagination > li > span {padding: 3px 12px;margin-top: 1.4px; }
.invoice_inform{
	width:auto;
	height:30px;
	float:left;
	line-height:30px;
	padding-left:0px;
	color:#333;
	font-size:13px;
	  padding: 0 1%;
	}
.invoice_inform span{
	width:20px;
	height:20px;
	float:left;
	border-radius:30px;
	  /*background-color: #f00;*/
  margin-right: 5px;
  margin-top: 7px;
	}
.action_button{
	width:25px;
	height:22px;
	display:inline-block;
	margin:auto;
	margin-right:5%;
	margin-top:1%;
	  position: relative;
  z-index: 999;
	}
.filter_cc{
	width:100%;
	min-height:45px;
	float:left;
	background-color:#fff;
	border:solid 1px #BDBDBD;
	margin-bottom:10px;
	}
	
.filter_text_box_cc {
  width: 23.3%;
   min-height: 40px;
  float: left;
  margin-top: 2px;
}	

.filter_text_box_cc span {
  padding: 0 0% 0 2%;
  line-height: 40px;
  height:auto;
  color: #333;
  font-size: 13px;
}	
.filter_text_box_cc .filter_date_txtbx{
	  width: auto;
  min-width: 59%;
	height:35px;
	padding-left:10px;
	border-radius:3px;
	color:#000;
	line-height:35px;
	  margin-top: -5px;
	border:solid 1px #ccc;
	}
.ftech_btn_staff {
  width: 6.4%;
  height: 34px;
  margin-top: -38px;
  float: right;
   background-color: #730812;
  color: #fff;
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  margin-right: 0.5%;
  border-radius: 5px;
  /* margin: 2px; */
}
.ftech_btn_staff:hover {background-color:#333;color:#fff;}
.popup_add_cc{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:10px;
	}	
.popup_add_cc td{
	font-family: 'CALIBRI_0'; 
	font-size:14px;
	height:38px;
	text-align:left;
	padding-left:3px;
	vertical-align:middle;
	border:solid 1px #fff;
	color:#000;
	  font-weight: normal;
	}
	
.staff_aff_text_box {
  width: auto;
  width:98% !important;
  height: 30px;
  padding-left: 10px;
  border-radius: 3px;
  color: #000;
  line-height: 30px;
  margin-top:1px;
  border: solid 1px #ccc;
   box-shadow: 0 0 0!important;

}
select{
	appearance: none;
	 -moz-appearance: none;
	  -webkit-appearance: none;
	  -o-appearance: none;
   background: url(../images/drop_arrow.png) no-repeat 95% 50%;
	}			
.popu_table_custm td {  padding-top: 8px;	}		
.popu_table_custm td span{
	width:100%;
	height:20px;
	margin:2px 0 -1px 0;
	float:left;
	}
.genrate{
	width:18px !important;
	height:18px;
	}	
	
.filter_head_cc{
	width:100%;
	height:35px;
	border-bottom:1px solid #ccc;
	/*height:84px;*/
	float:left;
	line-height:35px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	margin-bottom:5px;
	/*box-shadow: 1px 4px 12px #ccc;
	-moz-box-shadow: 1px 4px 12px #ccc;
	-webkit-box-shadow: 1px 4px 12px #ccc;
	-o-box-shadow: 1px 4px 12px #ccc;
	-ms-box-shadow: 1px 4px 12px #ccc;*/
	/*background-color:#333;*/
	}
/*.mrg_left{margin-left:27px;}		
.mrg_left_1{margin-left:38px;}*/

.refresh_btn_cc{
	width:100%;
	height:auto;
	float:left;
	}
.refresh_button{
	width:42%;
	height:60px;
	float:left;
	line-height:60px;
	}
.refresh_button_text{
	width:58%;
	height:60px;
	float:left;
	line-height:60px;
	padding-left:10px;
	color:#000;
	font-size:16px;
	}	
	
.close_btn{margin-top:20px;}
.popup_print_detail_textbox_cc{
	width:100%;
	height:auto;
	float:left;
	  border-top: 1px #E8E8E8 solid;
	}	
.popup_pti_head{
	width:100%;
	height:30px;
	float:left;
	line-height:30px;
	color:#333;
	font-size:15px;
	padding-left:10px;
	}	
.print_detail_table{float:left;}
.print_detail_table td{
	height:40px;
	vertical-align:middle;
	color:#333;
	font-size:14px;
	padding-left:8px;
	}
.top_close{
	  margin: 0;
  float: right;
  /* border-radius: 47%; */
  margin-top: -5px !important;
  background-color: #ccc;
  margin-right: -4px !important;
  border: solid 1px #A0A0A0;
  padding: 0.5em 1.2em;
	}
.pri_save_btn{
	width:auto;
	padding:0 20px;
	line-height:33px;
	float:right;
	color:#fff;
	  background-color: #730812;
	margin-right:10px;
	}	
.pri_save_btn:hover{color:#fff;background-color:#333}	
.check_box_div_cc{
	float:left;
	width:25%;
	height:auto;
	  margin: 3px 0 0 5px;
	}
.upload_phot_cc{
	width: 98%;
	/*height:150px;*/
	height:160px;
	float:right;
	position:relative;
	margin-right:5px;
	border:solid 1px #ccc;
	}
.upload_phot_bottom_btn{
	width:50%;
	height:30px;
	position:absolute;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:rgba(0,0,0,0.8);
	font-size:15px;
	bottom:0;
	left:0;
	}
.upload_phot_bottom_btn a{color:#fff;text-decoration:none;display:block;}	
.upload_phot_bottom_btn a:hover{color:#ccc;}
.upload_phot_bottom_btn a:focus{color:#ccc;}	
.upload_phot_bottom_btn_1{
	width:49.5%;
	height:30px;
	position:absolute;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color:rgba(0,0,0,0.8);
	font-size:15px;
	bottom:0;
	right:0;
	}
.upload_phot_bottom_btn_1 a{color:#fff;text-decoration:none;display:block;}	
.upload_phot_bottom_btn_1 a:hover{color:#ccc;}
.upload_phot_bottom_btn_1 a:focus{color:#ccc;}	

.invoice_right_btn { 
 width: auto;
  padding: 0 10px;
  line-height: 36px;
 background-color: #590008;
/*  border: 1px solid #FFF;*/
  box-shadow: 0 0 7px;
    position: relative;
  z-index: 2;
  border-radius: 10px;
    float: left;
	margin:0 2px 0 2px;
	  box-shadow: 0 0 5px #000;
  }	
.invoice_right_btn a{color:#fff;text-decoration:none;display:block;}
.invoice_right_btn a:hover{color:#fff;text-decoration:none;display:block;}
.invoice_right_btn:hover{background-color:#000;  box-shadow: 0 0 0px #6F6F6F;}	
.pagination_active{  background-color: #DADADA !important;color: #333 !important;}	
.breadcrumbs{position:relative;}
.notification_div{
/* width: 13%;*/
  /* padding: 0 5%; */
  /* margin-top: 1px; */
  line-height: 30px;
  margin: auto;
  height: 30px;
  color: #f00;
  text-align: center;
  /* border: solid 1px #ccc; */
  position: relative;
  /* float: left; */
  margin-top: 1px;
  margin-right: auto;
  top: -30px;
  right: 0px;
	}
.nitification_close_btn{
	  width: 9px;
  /* float: left; */
  display: inline-block;
  position: relative;
  height: 9px;
  /* position: absolute; */
  background-image: url(../images/noti_close.png);
  top: -7px;
  right: -2px;
  text-align: center;
	}
.invoice_filter_new{
	  height: 56px;
  margin: -4px 0px -2px -1px;
  width: 100.2%;
  border-bottom:0;
	}				