input{text-align:center;}
.container {
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	text-align: left;
}

.content {
	padding: 10px;
	min-height: 100px;
}
.footer {
	padding: 10px;
	text-align: right;
}
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_container {
	height: 30px;
	float: left;
	width:100%;
}
.input_container input {
	/*height: 20px;*/
	width: 100%;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.input_container ul {
	width: 100%;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 99999;
	background: #f3f3f3;
	list-style: none;
	top: 38px;
  color: #221F1F;
  height:auto !important;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#country_list_id {
	display: none;
}


