body{margin:0;padding:0;background-image:url(../img/bg_cont.jpg) !important;overflow-y:hidden;}

a{color:#fff;font-size:14px;text-decoration:none;}
a:hover{color:#997A47;}
.add_new_dropdown_1{  width: 100%;height: 30px !important;margin-top:4px;  padding: 4px 12px !important;}
.text{ font-family: 'CALIBRI_0' !important;font-size:14px;color:#fff;line-height:35px;}
.top_container{
	width:100%;
	height:35px;
	background-color:rgba(255,255,255,0.1);
	text-align:center;
	font-size:18px;
	margin-top:3px;
	 font-family: 'CALIBRI_0' !important;
	line-height:35px;
	color:#FFFAF0;
	 transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}
.main_container{
	width:100%;
	max-width:1345px;
	margin:auto;
	height:auto;
	}
.side_menu{
	padding:0;
	height:auto;
	padding-right: 0px !important;
	margin-left: -12px;
	  max-height: 75vh;
  overflow-x: auto;
  overflow-y:hidden;
	
	}
.side_menu_item_head{
	width:210px;
	float:left;
	height:50px;
	margin-bottom:5px;
	background-color:rgba(255,255,255,0.1);
	 font-family: 'CALIBRI_0' !important;
	font-size:18px;
	text-align:center;
	line-height:50px;
	color:#CFCFCF;
	}
.side_menu_item{
	width:210px;
	float:left;
	padding-left:10px;
	height:40px;
	color:#fff;
	line-height:40px;
	cursor:pointer;
	border:none;
	outline:none;
	margin-bottom:5px;
	background-color:rgba(255,255,255,0.1);
	 transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	
	}
.side_menu_item:hover{width:207px;margin-left:3px;background-color:rgba(100, 77, 45, 1);}	

.side_menu_item:focus{width:207margin-left:1px;background-color:rgba(100, 77, 45, 1);}	

.top_button{
	padding:0 10px;
	height:40px;
	float:right;
	margin:0px 8px 0 0;
	border:solid 1px rgba(255,255,255,0.2);
	border-top:solid 0px ;
	border-bottom:solid 0px ;
	text-align:center;
	font-size:15px;
	background-color:rgba(255,255,255,0.1);
	cursor:pointer;
	color:#fff;
	line-height:40px;
	 transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	}
.top_button:hover{background-color:rgba(255,255,255,0.2);}		

.center_container{
	margin-top:5px;
	height:auto;
	padding-right:0!important;
	padding-left:0!important;
	float: right !important;
	}
.detail_display{
	padding:1%;
	background-color:rgba(255,255,255,0.1);
	}	
.table_no{width:100%;float:left; height:40px;  background-color: rgba(255,255,255,0.1);margin-bottom:3px;}	
.table_no_detail{width:100%;height:60px;margin-bottom:3px;margin-top:10px;}
.table_report{
	width:100%;
	height:62vh;
	float:left;
	border:solid 1px rgba(255,255,255,0.1);
	}
.table_sum_report{
	width:100%;
	height:100%;
	float:left;
	/*background-image:url(../img/table_summ_li_bg.png);*/
	padding:1%;
	background-repeat:round;
	}			
.table_report_botom_cc{width:100%;height:40px;background-color:rgba(255,255,255,0.1);
float:left; font-family: 'CALIBRI_0' !important;font-size:16px;color:#fff;line-height:40px;}	
.billgenrations_table{
	width:100%;
	float:left;
	}	
.billgenrations_table td{
	text-align:center;
	 font-family: 'CALIBRI_0' !important;
	font-size:16px;
	color:#fff;
	background-color: rgba(255,255,255,0.1); 
	border-right:solid 1px rgba(255,255,255,0.1); 
	height:30px;
	}
.ln{border-right:1px solid  rgba(255,255,255,0.2);width:30px;margin-right:20px;}	
.btn_save{
	text-align:center;
	background-color:rgba(255, 126, 0, 0.4);
	border-radius:3px;
	cursor:pointer; transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;}	
.btn_save:hover{background-color:rgba(255, 126, 0, 0.6);}
.menu_catogery_cc{
	width:100%;
	float:left;
	height:40px;
	}
.pading_0{padding-right:0 !important;padding-left:0 !important;}
.tabs_first_menu{
width:100%;
height:55px;
float:left;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::scrollbar {
    width: 10px;
}

::scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}

::scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.back_home_cc_1{width:7%;height:auto;float:right;margin-top:0px;color:#fff;}	
.back_home_cc_1 a{color:#fff;}
.back_home_cc_1 a:hover{color:#666;text-decoration:none;}
.back_home_cc_1 a:focus{color:#666;text-decoration:none;}
.sub_menu_1{
	width:90px;
	height:40px;
	float:left;
	 border-radius:5px;
	background-color: rgba(19, 14, 10, 0.4);
	text-align:center;
	line-height:40px;
	margin-right:5px;
	font-size:13px;
	border:none;
	color:#fff;
	outline:none;
	}
.sub_menu_1:hover{	
  background-color: rgba(255, 126, 0, 0.4);	
}
.sub_menu_1:focus{	
  background-color: rgba(255, 126, 0, 0.4);	
}

.main_mn_1st{width: 66.88667% !important;height:60px; overflow-x:auto;overflow: auto;
	position: relative;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tabs_3rd_menu{width:2000px;height:44px;float:left;overflow-x:auto;}

.dish_img_displaying_cc{
	width:100%;
	height:67.6vh;
	float:left;
	overflow:auto;
	margin-top:5px;
	  border: solid 1px rgba(255,255,255,0.1);
	 overflow-x: auto;
	position: relative;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	max-height:100%;
	}
	
.dish_display_img{
	width:135px !important;
	height:130px;
	margin:20px 2px 0 11px;
	float:left;
	cursor:pointer;
	position:relative;
	}
.dish_display_img img:focus{
	 border: solid 1px rgba(255,255,255,0.8);
	}	
.dish_display_img img{
  width: 120px;
  height:130px;	
  border-radius:10px;
	}
.dish_display_img_text{
	width:120px;
	height:auto;
	min-height:30px;
	bottom:0;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
	text-align:center;
	line-height:20px;
	font-weight:bold;
	bottom:0;
	z-index:9;
	 border-bottom-left-radius: 10px;
	  border-bottom-right-radius:10px;
	}
.right_width {	
  width: 40.666667% !important;}
  
.main_menu{
	float:none !important;
	margin-top:4px;
	margin-left:-10px;
}
.table_sl_head{
	background-color:rgba(255,255,255,0.1);
	position:fixed !important;
	height:40px;
	}
.table_sl_text{	
color:#fff;
font-size:13px;
text-align:center;
line-height:40px;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #666;
 background-color:rgba(255,255,255,0.1) !important;
  border: 1px solid rgba(255,255,255,0.1) !important;
  margin-left: -1px;
}
.pagination>li>a{
	 color: #fff !important;
	  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
	}
.detail{cursor:pointer;text-decoration:underline}	
.pagination>li>a:hover{ background-color:rgba(255,255,255,0.3) !important;}	
.popup_total_width{width:30% !important;}
.modal-content{height:465px !important; border: 0px solid rgba(0,0,0,0.5);/*background-image:url(../img/abstract-wallpapers-blurred-background-wallpaper-34795.jpg);background-position:top; */ border-radius: 40px !importatnt;background-color:#6e4c32 !important}
.modal-header {border-bottom: 1px solid #888787 !important}
.border_btm {border-bottom: 1px solid #868686;float: left;width: 100%;height:15px;margin-bottom:15px;}
.proceed_btn{margin-right:5px; border-radius:8px;  background-color:rgba(95, 55, 26, 1);color: #fff;width:100px;float:left;height:30px;padding-top: 4px !important;text-align:center;margin-top:10px;}
.detail_head{color:#fff;text-align:center;}
.img_style img{border-radius:20px;border:solid 1px #ccc;}
.img_style{margin-bottom:10px;}
.mrg_rgt{margin-right:140px;}

.table_no_hd{
	width:100%;
	  height: 25px;
  margin-top: 24px;
	float:left;
	color:#000;
	line-height:20px;
	font-size:18px;
	text-align:center;
	font-weight:bold;
	}
		
	.tooltip-inner{!important;width:100% !important}
  .modal-body{float:left}
  .right_width {width: 32.666667% !important;}
  .main_mn_1st {width: 68.28667% !important;}
  .table_summery_shadow{left: 17px}
  .mCustomScrollBox{display:block !important}
  .mCSB_inside > .mCSB_container{display:block !important}
  .mCSB_draggerContainer{display:block !important}
  .mCSB_dragger_bar{display:block !important}
  .bwizard-steps li {padding: 12px 35px 10px 46px;}
  .button_style{background-color:#665433;padding:10px;text-align:center;}
  .bwizard-steps{background-color:transparent !important}
  .bwizard-steps li:before{display:none}
  .bwizard-steps li:after{display:none}	
  .bwizard-steps .active { background: #322310 !important;}.bwizard-steps .active a{color:#fff !important}
.tab-pane{  
    background-color: rgba(255,255,255,0.1);
  height: auto;
  float: left;
  width: 100%;}
 .button_style{padding:0}
.min_height{min-height:370px;}
.white{color:#fff;}
.right_min_hight{
	height: 83.5vh;
	/*margin-right:-460px;*/
	}
	