
.right_calc_cc .right_main_cc {
  /*background-color: rgba(255,255,255,0.1);*/
 /* background-color: #28281A;*/
  background-color: rgba(31, 91, 119, 0.3);
}
.top_al_search_cc{
	width:30%;
	height:40px;
	float:right;
	}
.top_al_search_name{
	float:left;
	width:30%;
	height:auto;
	line-height:40px;
	color:#fff;
	font-size:14px;
	}
.search{
	width:65%;
	height:34px;
	float:right;
	margin-top:3px;
	margin-right:5%;
	background-color:transparent;
	color:#fff;
	border: solid 1px rgba(255,255,255,0.5);
	border-radius:5px;
	padding-left:10px;
	background-image:url(../img/srch_arow.png);
	background-position:right;
	background-repeat:no-repeat;
	  padding-right: 40px;

	}
.take_left_main_list_cc{
	width:20%;
	height:69vh;
	 min-height: 530px;
	float:left;
	background-color:rgba(255,255,255,0.2);
	}
.take_left_main_list{
	width:100%;
	height:63vh;
	 min-height:490px;
	float:left;
	overflow:auto;
	}		
.top_head{
	width:100%;
	height:40px;
	float:left;
	background-color:rgba(255,255,255,0.1);
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:17px;
	}	
.left_contant_container {  padding-top: 0.1%;}	

.main_category_list{
	width:100%;
	height:35px;
	float:left;
	margin-top:2px;
	border-bottom:1px dashed rgba(255,255,255,0.2);
	line-height:35px;
	text-align:left;
	padding-left:10%;
	color:#fff;
	font-size:15px;
	letter-spacing:0.5px;
	background-image:url(../img/main_cat_arow.png);
	background-repeat:no-repeat;
	background-position:left center;
	cursor:pointer;
	transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
    -moz-box-shadow: 0px 4px 4px  rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 4px 4px  rgba(0,0,0,0.5);
  box-shadow: 0px 4px 4px  rgba(0,0,0,0.5);
    overflow: hidden;
  text-overflow: ellipsis;
	}	
.main_category_list:hover{padding-left:15%;background-color:rgba(0,0,0,0.1)}
.main_category_list_act{
	padding-left:20%;background-color:rgba(0,0,0,0.3)
	}
.main_category_list_act:hover	{
	padding-left:20%;background-color:rgba(0,0,0,0.3)
	}
.tkw_sub_items_cc{
	  width: 79.8%;
  height: 69vh;
  min-height: 530px;
  float: left;
  background-color: rgba(255,255,255,0.1);
  margin-left: 0.1%;
	}
.sub_item_drop{
	width: 81%;
  float: left;
  margin-left: 13% !important;
  height: 32px;
  line-height: 30px;
  background-color:rgba(0,0,0,0.1);
  margin: 1.5%;
  border: solid 1px rgba(255,255,255,0.5);
  font-size: 14px;
  color: #fff;
  padding-left: 5px;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/drop_arow.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
	}
.sub_item_drop option{background-color:#333;padding:8px;}
.right_con_inform_cc{
	width:100%;
	height:60px;
	float:left;
	margin-top:3px;
	}
.cont_detail_name{
	width:100%;
	height:20px;
	float:left;
	line-height:20px;
	color:#fff;
	padding-left:10px;
	font-size:12.5px;
	 font-family: 'yu_gothicregular';
	}
.cont_detail_box{
	width:100%;
	height:35px;
	float:left;
	padding:0 2%;
	}
.cont_typ_bx{
	  width: 99%;
  height: 35px;
  border: 1px solid #949494;
 /* background-color:rgba(0,0,0,0.1);*/
  background-color: transparent;
  color: #FFF;
  border-radius:3px;
  padding-left:10px;
  resize:none;
  
	}

.menu_item_contain{
	width:100%;
	height:53vh;
	min-height:406px;
	float:left;
	overflow:auto;
	  padding: 0.5% 0 0 0.5%;
	}	
.menu_sub_item{
	width:auto;
	padding:10px 14px;
	float:left;
	/*background-image:url(../img/item_bg_take.png);*/
	background-repeat:no-repeat;
	background-position:left;
	background-color:#fff;
	text-align:center;
	color:#000;
	font-size:15px;
	  margin: 0.5%;
	  -moz-box-shadow: 3px 3px 0px #222;
-webkit-box-shadow: 3px 3px 0px #222;
box-shadow: 3px 3px 0px #222;
cursor:pointer;
position:relative;
 font-family: 'yu_gothicregular';
	}
.item_round{
	position:absolute;
	width:8px;
	height:8px;
	background-color:#000;
	top:4px;
	left:4px;
	border-radius:50%;
	}	
.menu_sub_item:hover{
	 -moz-box-shadow: 0px 0px 5px #222;
-webkit-box-shadow: 0px 0px 5px #222;
box-shadow: 0px 0px 5px #222;
	}
.bottom_edit_cc{
	width:100%;
	height:80px;
	float:left;
	border-top:1px solid rgba(0,0,0,0.7);
	  background-color: rgba(255,255,255,0.1);
	}
.tka_edit_cc{
	width:100%;
	height:40px;
	float:left;
	}	
.tka_portion_text{
	width:12%;
	height:40px;
	float:left;
	line-height:40px;
	color:#fff;
	font-size:15px;
	text-align:left;
	padding-left:8px;
	  overflow: hidden;
	   font-family: 'yu_gothicregular';
  text-overflow: ellipsis;
	}	
.check_box_cc{
	width:44%;
	height:40px;
	float:left;
	padding-left:5px;
	line-height:40px;
	color:#fff;
	letter-spacing:0.5px;
	text-align:left;
	}
.check_box_cc input{
	width:15px;
	height:15px;
	margin:0 5px;
	  position: relative;
  top: 4px;
	}
.check_box_cc span{margin-right:2%; font-family: 'yu_gothicregular';}	
	
.qty_box_cc	{
	width:30%;
	height:40px;
	float:left;
	padding-left:5px;
	line-height:40px;
	color:#fff;
	letter-spacing:0.5px;
	text-align:left;
	}
.qty_box{
	width: 95%;
  height: 34px;
  float: left;
  margin-top: 3px;
  border: solid 1px rgba(255,255,255,0.2);
  line-height: 30px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
	}
.edt_btn{
	  width: 100%;
  height: 33px;
  line-height:33px;
  margin-top: 4px;
  border-radius: 5px;
  float: left;
  background-color: #DB3F2A;
  color: #fff;
  text-align: center;
  text-decoration: none;
	}
.edt_btn:hover{color:#ccc;text-decoration:none}	
.edt_btn:focus{color:#ccc;text-decoration:none}
.tka_sum_btn_cc{
	width:49.5%;
	height:auto;
	float:left;
	padding:1% 0.5%;
	}
.tka_submit_buton{
	width:100%;
	  height: 43px;
  float: left;
  line-height: 44px;
	color:#fff;
	text-align:center;
	font-size:18px;
	background-color:#F33;
	border-radius:5px;
	  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EF3F00), color-stop(100%, #892A08));
  background-image: -webkit-linear-gradient(#EF3F00, #892A08);
  background-image: -moz-linear-gradient(#EF3F00, #892A08);
  background-image: -o-linear-gradient(#EF3F00, #892A08);
  background-image: linear-gradient(#EF3F00, #892A08);
  box-shadow: 1px 1px 8px #000 !important;
  -moz-box-shadow: 1px 1px 8px #000 !important;
	}	
.tka_submit_buton:hover{color:#ccc;text-decoration:none}	
.tka_submit_buton:focus{color:#ccc;text-decoration:none}														
.right_main_cc {
  width: 100%;
  height: 73.4vh;
  min-height: 570px;
  }
  
.dropdown-menu{
	  top: auto !important;
  bottom: 35px !important;
	}
.dropdown-menu:before{
	top:auto !important;
	bottom: -7px !important;
	border:0 !important;
	  z-index: -1;
	}
.multiselect{width:130px !important;  margin-top: -3px;height: 31px;}
.home_dry_chk{
	transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	  top: 3px;
	  position: relative;
	}	
.home_dlvry_cont{
	font-size:15px;
	 line-height: 40px;
	 border-bottom:1px rgba(255,255,255,0.2) solid;
	 height:38px;
	}
.take_away_list_cc{
	width:200px;
	height:140px;
	float:left;
	background-color:#fff;
	margin: 1.4%;
  margin-right: -2px;
	 background-color: #F2F2F2;
	 cursor:pointer; 
	 position: relative;
	}
.take_away_list_cc::before {
    content: '';
    position: absolute;
    height: 20px; width: 80px;
    box-shadow: 0 8px 15px -7px rgba(0, 0, 0, .5);
    box-shadow: none\9; /* Do not show on IE9 #needed */
	top: -2px;
    bottom: -10px;
    left: -35px;
	transform: rotate(-45deg);
}

/*.take_away_list_cc::after{
      right: -20px;
  transform: rotate(-45deg);
  top: 109px;
}*/


/*.take_away_list_cc::before {
    transform: rotate(-135deg);
}*/
.take_right_inform_cc{
	width:100%;
	height:auto;
	float:left;
	padding-bottom:8px;
	/*min-height:240px;*/
	}	
	
.take_list_oder_num{
	width:100%;
	height:32px;
	float:left;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	color:#333;
	font-size:14px;
	 font-family: 'yu_gothicregular';
	 border-bottom:1px #ccc solid;
	}	
.take_oder_odred_name{
	width:100%;
	height:32px;
	float:left;
	text-align:center;
	line-height:40px;
	color:#333;
	  font-size: 1em;
	overflow:hidden;
	text-overflow: ellipsis;
	 font-family: 'yu_gothicregular';
	}
.take_oder_odred_name span{font-weight:bold;}	

.take_oder_right_detail{
	width:100%;
	height:auto;
	float:left;
	}	
.take_oder_right_detail .take_oder_odred_name{
	color:#fff;
	text-align:left;
	padding-left:10px;
  height: 33px;
	}
.take_oder_right_detail .take_oder_odred_name span{  width: 41%;float:left;font-weight:100;}
.take_oder_address_view{
	width:55%;
	height:auto;
	float:right;
	text-align:left;
	padding-top:8px;
	line-height:28px;
	color:#fff;
	font-size:14px;
	overflow:hidden;
	text-overflow: ellipsis;
	 font-family: 'yu_gothicregular';
	}		  
.take_assign_drop{
	width:98%;
	height: 25px;
	float:left;
	color:#000;
	line-height:25px;
	font-size:13.5px;
	}	
.take_assign_drop option{padding:8px;}	
.take_order_item_name{
	width:40px;
	height:40px;
	position:absolute;
	left:40%;
	border-radius:50%;
	background-color:#fff;
	text-align:center;
	line-height:40px;
	  left: 40%;
  top: 124px;
	}
.take_order_item_name img{width:60%;}	
.take_order_item{
	width:80%;
	height:35px;
	float:left;
	padding-left:7px;
	line-height:35px;
	color:#fff;
	border-bottom:solid 1px rgba(255,255,255,0.2);
	margin:1%;
	font-family: 'yu_gothicregular';
	overflow:hidden;
	  text-overflow: ellipsis;
	}
.order_items_contain{
	  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 180px;
  overflow:auto;
	}
.take_order_del_ico{
	width:15%;
	height:35px;
	float:left;
	line-height:28px;
	color:#fff;
	border-bottom:solid 1px rgba(255,255,255,0.2);
	margin:1%;
	text-align:center;
	vertical-align:middle;
	}
.take_order_del_ico img{width:45%;vertical-align:middle;}
.take_botom_button{
	  width: 85%;
  margin-left: 8%;
  margin-top:3%;
	height:45px;
	float:left;
	background-color: #F5351B;
	text-align:center;
	line-height:45px;
	color:#fff;
	font-size:17px;
	 font-family: 'yu_gothicregular';
	 background-image:url(../../img/sub_btn_arow.png);
	 background-repeat:no-repeat;
	 background-position:95% 50%;
	 border-radius:10px;
	}
.take_botom_button a{
	text-align:center;
	line-height:45px;
	color:#fff;
	font-size:17px;
	 font-family: 'yu_gothicregular';
	 display:block;
	 padding-right:9%;
	 }
.take_botom_button a:hover{color:#000;text-decoration:none}	 
.take_pop_show_btn {
	width:100%;
	height:40px;
	float:left;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:15px;
	background-color:rgba(255,255,255,0.1);
	font-family: 'yu_gothicregular';
	margin-top:7px;
	}
.take_pop_show_btn a{
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:15px;
	}
.take_pop_show_btn a:hover{color:#fff;}	
.take_pop_show_btn a:focus{color:#fff;}			

.take_detail_right_cc {
	  height: 82vh;
	}
.take_detail_right_cc .right_main_cc{  height: 89.4vh;} 	

/*@media (min-width: 1400px){
.left_contant_container {
  height: 86vh;
}	
}*/

.take_order_list_view_cc{
	width:100%;
	height:auto;
	float:left;
	margin:0.5%;
	 max-height: 300px;
  overflow: auto;
	}
.take_pop_order_item{
  width: 99%;
  height: 40px;
  float: left;
  margin: 0.5%;
  background-color: #fff;
  border: solid 1px #ccc;
	}
.take_pop_dish_name{
	width:40%;
	height:40px;
	float:left;
	line-height:40px;
	padding-left:10px;
	color:#333;
	font-size: 15px;
	text-align:left;
	  overflow: hidden;
  text-overflow: ellipsis;
	}
.take_popup_quantity{
	width:15%;
	height:40px;
	float:left;
	line-height:40px;
	padding-left:5px;
	color:#333;
	font-size: 15px;
	text-align:left;
	overflow: hidden;
  	text-overflow: ellipsis;
	}	
	
/***/	
.payment_mod_cc {
  width: 100%;
  height: 50px;
  float: left;
  margin-top: 3px;
  padding-top: 4px;
  border: 1px solid #EAE9E9;
  -moz-box-shadow: 0px 1px 7px #E4E4E4;
  -webkit-box-shadow: 0px 1px 7px #E4E4E4;
  box-shadow: 0px 1px 7px #E4E4E4;
}	
.tax_table {
  width: 99%;
  height: auto;
  float: left;
  margin-left: 1%;

}
.tax_table td {
  height: 42px;
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
}
.pament_selected_show_cc {
  width: 100%;
  min-height: 50px;
  float: left;
  margin: 3px 0 3px 0;
  border: 1px solid #EAE9E9;
  -moz-box-shadow: 0px 1px 7px #E4E4E4;
  -webkit-box-shadow: 0px 1px 7px #E4E4E4;
  box-shadow: 0px 1px 7px #E4E4E4;
}
.crd_head {
  width: 100%;
  text-align: center;
 /* font-weight: bold;*/
  background-color: rgba(255,255,255,0.2);
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
}
.discount_text_cc {
  width: 100%;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: left;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
    margin-top: 10px;
}	
.discount_text_box {
  width: 96%;
  height: 35px;
  margin-left:1%;
  float: left;
  position: relative;
  margin-top: 5px;
}
.tax_textbox {
  width: 93%;
  height: 33px;
  font-size: 13px;
  padding-left: 5px;
  line-height: 33px;
  float: left;
  border-radius: 5px;
  border: solid 1px #626262;
  color:#fff;
  background-color: transparent;

}	
.tax_table select{
	-moz-appearance: none;
-webkit-appearance: none;
	background-image:url(../../img/drop_arrow1.png);
	background-position:95% 60%;
	background-repeat:no-repeat
	}

.paid_amount_cc {
  width:99%;
  min-height: 80px;
  float: left;
  padding: 0px !important;
 /* -moz-box-shadow: 0px 1px 7px #ccc;
  -webkit-box-shadow: 0px 1px 7px #ccc;
  box-shadow: 0px 1px 7px #ccc;*/
  padding-bottom: 3px;
 /* border: solid 1px #5C5C5C;*/
    margin-top: 10px;
	  background-color: rgba(255,255,255,0.1);

}
.tax_textbox option{background-color:#333;padding:8px;color:#fff}
.take_active{  border: solid 2px #F00;-webkit-box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.8);box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.8);-moz-box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.8);}
.home_dlvry .take_list_oder_num{  background-color: deepskyblue ;}
.countersales .take_list_oder_num{  background-color: #993 ;}
/******/
.take_staff_view_cc{
	width: 32%;
	height:auto;
	float:left;
	margin:1%;
	margin-right:0;
 box-shadow: 0 0 10px #000000;
	 -moz- box-shadow: 0 0 10px #000000;
	 -webkit- box-shadow: 0 0 10px #000000;
 	/* border-radius: 10px;*/

}
.take_staff_view_head{
	width:100%;
	height:40px;
	float:left;
	  background-color: rgba(66, 181, 231, 0.4);
	margin-bottom:1%;
	overflow:hidden;
/*	border-radius:10px;*/
	}
.take_staff_view_cont_cc{
	width:100%;
	height:550px;
	min-height:74vh;
	float:left;
	  background-color: rgba(182, 182, 182, 0.2);
	/*border-radius:10px;*/
	overflow:auto;
	padding-top:6px;
	}
.take_staff_detail_view_cont_cc{
	width:100%;
	height:500px;
	min-height:70vh;
	float:left;
	background-color:rgba(255,255,255,0.1);
	border-radius:10px;
	overflow:auto;
	padding-top:6px;
	}				

.staf_view_hd_num{
	width:15%;
	height:40px;
	float:left;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background-color:rgba(255,255,255,0.1);
	}
.staf_view_list_hd{
	width:80%;
	height:40px;
	float:left;
	text-align:center;
	line-height:35px;
	color:#fff;
	font-size:20px;
	  font-family: 'yu_gothicregular';
	}
.cont_staf_view_list{
	width:100%;
	height:35px;
	float:left;
	  background-color: rgba(34, 114, 146, 0.5);
	line-height:35px;
	text-align:center;
	margin-bottom:5px;
	cursor:pointer;
	transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	overflow:hidden;
	  border: dashed 1px rgba(255,255,255,0.1);
	}
.cont_staf_view_list:hover{
	background-color:rgba(255,255,255,0.2);
	}
.staf_name_1{
	width:80%;
	height:35px;
	float:left;
	line-height:35px;
	text-align:left;
	padding-left:10px;
	font-size:16px;
	color:#fff;
	font-family: 'yu_gothicregular';
	}	
.center_staf_detail_cc{
	width:100%;
	height:493px;
	min-height:66.5vh;
	overflow:auto;
	}	
.bottom_rate_contantant_cc{
	width:100%;
	height:50px;
	float:left;
	border-top:1px #666 solid;
	background-color:rgba(255,255,255,0.1);
	}	
.staf_code_detail{
	width:100%;
	height:35px;
	float:left;
	line-height:35px;
	text-align:left;
	color:#fff;
	font-size:14px;
	/*border:solid 1px rgba(255,255,255,0.2);*/
	/*background-color:rgba(255,255,255,0.1);*/
	cursor:pointer;
	margin-bottom:5px;
	font-family: 'yu_gothicregular';
	  background-image: url(../img/main_cat_arow.png);
  background-repeat: no-repeat;
  background-position: left center;
	}	
.staf_code{
	width:30%;
	height:35px;
	float:left;
	background-color:rgba(255,255,255,0.1);
	text-align:center;
	border-right:solid 1px rgba(255,255,255,0.2);
	 color: #fff;
  font-size: 15px;
    font-family: 'yu_gothicregular';
	overflow: hidden;
  	text-overflow: ellipsis;
	}			
.staf_rate{
	width:30%;
	height:35px;
	float:right;
	background-color:rgba(255,255,255,0.1);
	text-align:center;
	border-left:solid 1px rgba(255,255,255,0.2);
	 color: #fff;
  font-size: 15px;
    font-family: 'yu_gothicregular';
	overflow: hidden;
  	text-overflow: ellipsis;
	}
.take_custom_mob{
	width:40%;
	height:35px;
	float:left;
	background-color:rgba(255,255,255,0.1);
	text-align:center;
	 color: #fff;
  font-size: 15px;
    font-family: 'yu_gothicregular';
	overflow: hidden;
  	text-overflow: ellipsis;
	}	
.center_bottom_right{
   width: 100%;
  height: 50px;
  float: right;
  text-align: right;
  padding-right: 10px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
    font-family: 'yu_gothicregular';
	}	
.right_top_total_rate{
  width: 100%;
  height: 38px;
  float: left;
  border: dashed 1px rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  /* padding-left: 10px; */
  line-height: 35px;
  color: #fff;
  font-size: 17px;
  font-family: 'yu_gothicregular';
	}
.staf_view_act{
	background-color:rgba(255,255,255,0.2)
	}
.right_bottom_btn_cc{
	width:100%;
	height:50px;
	float:left;
	border-top:1px #666 solid;
	background-color:rgba(255,255,255,0.1);
	}
.right_sub_btn{
	  width:150px;
  height: 40px;
  display:inline-block;
float:right;
  background-color: #F5351B;
  text-align: center;
  line-height:38px;
  color: #fff;
  padding-right:20px;
  font-size: 17px;
  font-family: 'yu_gothicregular';
  background-image: url(../../img/sub_btn_arow.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border-radius: 10px;
  margin-top:5px;
  margin-right:10px;
}
.right_sub_btn:hover{
	text-decoration:none;
	color:#ccc;
	background-color:#A16404;
	}	
.right_sub_btn:focus{text-decoration:none;color:#ccc;}	
.ordered_selected{
	background-color:#F00;
	}
	
.staf_num_detail{
	width:40%;
	height:35px;
	float:right;
	border-left:solid 1px rgba(255,255,255,0.2);
	text-align:right;
	 color: #fff;
  font-size: 15px;
    font-family: 'yu_gothicregular';
	overflow: hidden;
  	text-overflow: ellipsis;
	}	
.staf_code_detail:hover{
	  background-color: rgba(17, 54, 69, 1);
	}	
.order_detail_active{
	  background-color: rgba(17, 54, 69, 1);
	}
	
.take_away_bottom_inform_cc {width:100%;
height:35px;
position:absolute;
bottom:0;
background-color:rgba(0,0,0,0.5);}
.take_away_bottom_inform{
	width:16%;
	height:35px;
	float:left;
	}
.tka_inform_color{
	width:25px;
	height:25px;
	border-radius:50%;
	background-color:deepskyblue;
	margin:3% 0 0 2%;
	float: left;
	}
.tka_inform_text{
	width:65%;
	height:35px;
	float:left;
	line-height:40px;
	color:#fff;
	padding-left:8px;
	font-size:13.5px;
	}		
	
	
@media (max-width:1000px){	
	.take_staff_view_cc{width:98% !important;}
	.left_contant_container{width:100%;}
	.right_order_inform{width:100%;  height: auto;}	
	.top_site_map_cc{width:100%;}
	
}