<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643625938022-sf12ltt0rcoffq7iqkvango55375bvpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643625938022-sf12ltt0rcoffq7iqkvango55375bvpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643625938022-e49ct8jfmdfkgtk6o100p9up8bdkgkt7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPS_meBdSDlOLex8e8TWqP1Q6_8QH7xxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>643625938022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.ReportProject</string>
	<key>PROJECT_ID</key>
	<string>ed-reports-b5f94</string>
	<key>STORAGE_BUCKET</key>
	<string>ed-reports-b5f94.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643625938022:ios:4c575f9b7f2c42b29551a7</string>
	<key>DATABASE_URL</key>
	<string>https://ed-reports-b5f94.firebaseio.com</string>
</dict>
</plist>